/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  text-align: center;
  color:red;
  background: black;
  
}
table, th, td {
  border: 1px solid red;
  background-color: white;
  color: black;
}
table{
  margin: 20px auto;
}
p{
  margin: 0 200px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
